# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# yarn
.yarn/*
!.yarn/releases/
!.yarnrc.yml
# Ignore specific cache files if needed
.yarn/install-state.gz

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build the Typescript library
*.code-workspace

# Ignore all contents of the coverage directory
coverage/*
# But DO NOT ignore the badge itself
!coverage/coverage-badge.svg
# And DO NOT ignore the coverage directory itself (so git can see the exception)
!coverage/

# Python environment
.venv

# TypeDocs
docs/api
docs/public/examples

# Vite build visualizer
build

# VitePress
docs/.vitepress/dist
docs/.vitepress/cache
docs/development.md
docs/introduction.md
docs/coverage/*
docs/LICENSE.md

# npm publish
*.tgz
test-pkg-temp
