.TouchstoneViewer {
  table-layout: fixed;
  width: 100%;
  max-width: 100%;
  min-width: 550px;
  border: 1px solid #ddd;
  border-collapse: collapse; /* Often good to add for tables used for layout */
  margin: 20px 0 20px 0 !important;
}

.TouchstoneViewer td,
.TouchstoneViewer th {
  border: 1px solid #ddd;
}

.TouchstoneViewer td:first-child,
.TouchstoneViewer th:first-child {
  width: 230px;
  white-space: nowrap;
  padding-right: 10px; /* Optional: Add some padding to the right for spacing */
  padding-top: 0; /* Remove or reduce top padding */
  padding-bottom: 0; /* Remove or reduce bottom padding */
  padding-left: 0; /* Remove or reduce left padding */
  min-width: min-content;
}
