# Python字节码文件
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境目录
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# 分发/打包目录
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# 日志文件
*.log

# 本地配置文件
*.env

# 测试输出
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook检查点
.ipynb_checkpoints/

# IDE配置文件
.idea/
.vscode/

# mypy类型检查缓存
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre类型检查器
.pyre/

# Cython调试符号
cython_debug/

# PyInstaller
*.manifest
*.spec

# PEP 582
__pypackages__/
